# Firebase Configuration
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_MEASUREMENT_ID=

# AI Configuration
GEMINI_API_KEY=

# Offline Configuration
OFFLINE_ENCRYPTION_KEY=

# JWT Secrets
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
ADMIN_2FA_SECRET=
